:root {
    --scale-ratio: 1;
    --arrow-size: 12px;
    --prompt-height: 100px;
    --prompt-width: 200px;
}
#GDIndicator{
    position: absolute;
    z-index: 8;
    border:4px dashed rgba(30, 180, 180, 0.85);
    box-sizing: initial;
    pointer-events: none;
}
#GDPrompt {
    position: fixed;
    color:black;
    z-index: 9;
    box-sizing: initial;
    border: initial;
    border-radius: 4px;
    background-color: rgba(30, 180, 180, 0.85);
    line-height: initial;
    font-weight: initial;
    text-align: center !important;
    left: 40%;
    top: 40%;
    height: var(--prompt-height);
    width: var(--prompt-width);
}

#GDArrow {
    display: block;
    font-style: normal !important;
    font-size: 30px !important;
    height: 60px;
}

.GDArrow-U::after {
    content: "\1f871";
}

.GDArrow-L::after {
    content: "\1f870";
}

.GDArrow-R::after {
    content: "\1f872";
}

.GDArrow-D::after {
    content: "\1f873";
}