/* 来自 chrome://browser/content/extension.css
这个文件在ff55+之后才存在
添加这个文件是为了让ff55之前的浏览器也能有相同的显示效果 */


/* stylelint-disable property-no-vendor-prefix */


/* stylelint-disable property-no-vendor-prefix */


/* Base */

button,
select,
option,
input {
    -moz-appearance: none;
}


/* Variables */

html,
body {
    background: transparent;
    box-sizing: border-box;
    color: #222426;
    cursor: default;
    display: flex;
    flex-direction: column;
    font: caption;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
}

body * {
    box-sizing: border-box;
    text-align: start;
}


/* stylelint-disable property-no-vendor-prefix */


/* Buttons */

button,
select {
    background-color: #fbfbfb;
    border: 1px solid #b1b1b1;
    box-shadow: 0 0 0 0 transparent;
    font: caption;
    height: 24px;
    outline: 0 !important;
    padding: 0 8px 0;
    transition-duration: 250ms;
    transition-property: box-shadow, border;
}

select {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg==);
    background-position: calc(100% - 4px) center;
    background-repeat: no-repeat;
    padding-inline-end: 24px;
    text-overflow: ellipsis;
}

label {
    font: caption;
}

button::-moz-focus-inner {
    border: 0;
    outline: 0;
}


/* Dropdowns */

select {
    background-color: #fbfbfb;
    border: 1px solid #b1b1b1;
    box-shadow: 0 0 0 0 transparent;
    font: caption;
    height: 24px;
    outline: 0 !important;
    padding: 0 8px 0;
    transition-duration: 250ms;
    transition-property: box-shadow, border;
}

select {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg==);
    background-position: calc(100% - 4px) center;
    background-repeat: no-repeat;
    padding-inline-end: 24px;
    text-overflow: ellipsis;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select:-moz-focusring * {
    color: #000;
    text-shadow: none;
}

button:hover,
select:hover {
    background-color: #ebebeb;
    border: 1px solid #b1b1b1;
}

button.pressed,
select.pressed {
    background-color: #d4d4d4;
    border: 1px solid #858585;
}

button.disabled,
select.disabled {
    color: #999;
    opacity: .5;
}

button.focused,
select.focused {
    border-color: #fff;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

button.default {
    background-color: #0996f8;
    border-color: #0670cc;
    color: #fff;
}

button.default.hover {
    background-color: #0670cc;
    border-color: #005bab;
}

button.default.pressed {
    background-color: #005bab;
    border-color: #004480;
}

button.default.focused {
    border-color: #fff;
}


/* Radio Buttons */

.radioItem {
    margin-bottom: 6px;
    text-align: left;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    -moz-user-select: none;
}

input[type="radio"]+label::before {
    background-color: #fff;
    background-position: center;
    border: 1px solid #b1b1b1;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 6px;
    vertical-align: text-top;
    width: 16px;
}

input[type="radio"]:hover+label::before,
.radioItem.hover input[type="radio"]:not(active)+label::before {
    background-color: #fbfbfb;
    border-color: #b1b1b1;
}

input[type="radio"]:hover:active+label::before,
.radioItem.pressed input[type="radio"]:not(active)+label::before {
    background-color: #ebebeb;
    border-color: #858585;
}

input[type="radio"]:checked+label::before {
    background-color: #0996f8;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iNCIgZmlsbD0iI2ZmZiIgLz4KPC9zdmc+Cg==);
    border-color: #0670cc;
}

input[type="radio"]:checked:hover+label::before,
.radioItem.hover input[type="radio"]:checked:not(active)+label::before {
    background-color: #0670cc;
    border-color: #005bab;
}

input[type="radio"]:checked:hover:active+label::before,
.radioItem.pressed input[type="radio"]:checked:not(active)+label::before {
    background-color: #005bab;
    border-color: #004480;
}

.radioItem.disabled input[type="radio"]+label,
.radioItem.disabled input[type="radio"]:hover+label,
.radioItem.disabled input[type="radio"]:hover:active+label {
    color: #999;
    opacity: .5;
}

.radioItem.focused input[type="radio"]+label::before {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

.radioItem.focused input[type="radio"]:checked+label::before {
    border-color: #fff;
}


/* Checkboxes */

.checkboxItem {
    margin-bottom: 6px;
    text-align: left;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    -moz-user-select: none;
}

input[type="checkbox"]+label::before {
    background-color: #fff;
    background-position: center;
    border: 1px solid #b1b1b1;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 6px;
    vertical-align: text-top;
    width: 16px;
}

input[type="checkbox"]:hover+label::before,
.checkboxItem.hover input[type="checkbox"]:not(active)+label::before {
    background-color: #fbfbfb;
    border-color: #b1b1b1;
}

input[type="checkbox"]:hover:active+label::before,
.checkboxItem.pressed input[type="checkbox"]:not(active)+label::before {
    background-color: #ebebeb;
    border-color: #858585;
}

input[type="checkbox"]:checked+label::before {
    background-color: #0996f8;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNNy43LDEyLjkgQzcuNCwxMy4zIDYuOCwxMy40IDYuNCwxMyBMMy4yLDkuOCBDMi44LDkuNCAyLjgsOC42IDMuMiw4LjIgQzMuNiw3LjggNC40LDcuOCA0LjgsOC4yIEw2LjksMTAuMyBMMTEuMSw0LjQgQzExLjUsMy45IDEyLjIsMy44IDEyLjcsNC4xIEMxMy4yLDQuNSAxMy4zLDUuMiAxMyw1LjcgTDcuNywxMi45IEw3LjcsMTIuOSBaIiBmaWxsPSIjZmZmIiAvPgo8L3N2Zz4K);
    border-color: #0670cc;
}

input[type="checkbox"]:checked:hover+label::before,
.checkboxItem.hover input[type="checkbox"]:checked:not(active)+label::before {
    background-color: #0670cc;
    border-color: #005bab;
}

input[type="checkbox"]:checked:hover:active+label::before,
.checkboxItem.pressed input[type="checkbox"]:checked:not(active)+label::before {
    background-color: #005bab;
    border-color: #004480;
}

.checkboxItem.disabled input[type="checkbox"]+label,
.checkboxItem.disabled input[type="checkbox"]:hover+label,
.checkboxItem.disabled input[type="checkbox"]:hover:active+label {
    color: #999;
    opacity: .5;
}

.checkboxItem.focused input[type="checkbox"]+label::before {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

.checkboxItem.focused input[type="checkbox"]:checked+label::before {
    border-color: #fff;
}


/* Expander Button */

button.expander {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg==);
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    padding: 0;
    width: 24px;
}


/* Interactive States */

button:hover:not(.pressed):not(.disabled):not(.focused),
select:hover:not(.pressed):not(.disabled):not(.focused) {
    background-color: #ebebeb;
    border: 1px solid #b1b1b1;
}

button:hover:active:not(.hover):not(.disabled):not(.focused),
select:hover:active:not(.hover):not(.disabled):not(.focused) {
    background-color: #d4d4d4;
    border: 1px solid #858585;
}

button.default:hover:not(.pressed):not(.disabled):not(.focused) {
    background-color: #0670cc;
    border-color: #005bab;
}

button.default:hover:active:not(.hover):not(.disabled):not(.focused) {
    background-color: #005bab;
    border-color: #004480;
}

button:focus:not(.disabled) {
    border-color: #fff !important;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}


/* Fields */

input[type="text"],
input[type="number"],
textarea {
    background-color: #fff;
    border: 1px solid #b1b1b1;
    box-shadow: 0 0 0 0 rgba(97, 181, 255, 0);
    font: caption;
    padding: 0 6px 0;
    transition-duration: 250ms;
    transition-property: box-shadow;
}

input[type="text"],
input[type="number"] {
    height: 24px;
}

input[type="text"].hover,
input[type="number"].hover textarea.hover {
    border: 1px solid #858585;
}

input[type="text"].disabled,
input[type="number"].disabled,
textarea.disabled {
    color: #999;
    opacity: .5;
}

input[type="text"].focused,
input[type="number"].focused,
textarea.focused {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}


/* Interactive States */

input[type="text"]:not(disabled):hover,
input[type="number"]:not(disabled):hover textarea:not(disabled):hover {
    border: 1px solid #858585;
}

input[type="text"]:focus,
input[type="text"]:focus:hover,
input[type="number"]:focus,
input[type="number"]:focus:hover,
textarea:focus,
textarea:focus:hover {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}