:root {
    --font-size: 16px;
}

body {
    padding: 2em;
    -moz-user-select: text;
    user-select: text;
    font-size: var(--font-size);
}

button,
select,
input {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: var(--font-size);
    /* border-radius: 3px; */
    /* box-shadow: 1px 1px 1px rgb(141, 141, 141); */
}

input:disabled+label {
    display: none;
}

.hide {
    display: none;
}

#engine-items div:not(.saved) input[type="text"] {
    background-color: yellow
}

#engine-items input[type="text"].warning {
    border-color: rgb(240, 50, 47);
    box-shadow: 0 0 0 2px rgba(250, 100, 100, 0.75);
}

#engine-items div.accept input[type="text"] {
    border-color: rgb(100, 240, 60);
    box-shadow: 0 0 0 2px rgba(110, 240, 170, 0.75);
}

button {
    padding-left: 1em;
    padding-right: 1em;
}

select:hover {
    background-color: whitesmoke !important;
}

select:active {
    background-color: whitesmoke !important;
}


/*select:hover{
  box-shadow: 0px 0px 2px #005189;
}*/

a {
    text-decoration: none;
}

a:visited {
    color: #001ba0;
}

#tabs nav {
    border-bottom: 1px solid #c1c1c1;
    padding-left: 24px;
}

#tabs ul {
    display: inline;
}

.nav-a {
    text-decoration: none;
    border: 1px solid #c1c1c1;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 16px;
    padding: 4px 8px 0px 5px;
    transition: background-color 0.5s;
    margin-right: 4px;
}

.nav-a:visited {
    color: #2B2B2B;
}

.nav-active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
}

.active {
    display: block !important;
    /*visibility: visible !important;*/
    /*opacity: 1 !important;*/
    height: initial !important;
    width: initial !important;
}

#container {
    margin-top: 30px;
}

.tab-content {
    /*visibility: hidden;*/
    height: 0px;
    width: 0px;
    /*opacity: 0;*/
    /*transition: visibility 0s, opacity 0.5s linear;*/
    display: none;
    font-size: var(--font-size);
}

#content-0 {
    /*background: #6eadbd;*/
    -moz-user-select: text;
}

#content-2 input {
    margin-right: 10px;
    height: 32px;
}

#content-3>* {
    margin-bottom: 12px;
}

#actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#actions>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: var(--font-size);
    border: 1px rgb(242, 242, 242) solid;
    box-shadow: 2px 2px 5px rgb(121, 121, 121);
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 60%;
}

#actions>div>div>label {
    font-size: var(--font-size);
    margin-right: 5px;
    width: 7em;
    display: inline-block;
    text-align: center;
}

#actions>div>div>label:after {
    content: ": ";
}

#actions>div>div {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.direction.disabled {
    /* background-color: rgba(228, 228, 228, 0.45);
    color: grey; */
    display: none;
}


/*
.direction.disabled>select {
    background-color: rgb(233, 233, 233);
}
 
.direction.disabled>select:hover {
    background-color: rgb(233, 233, 233) !important;
} */

#engine-items>div>a {
    margin-right: 1em;
}

#styleContent {
    height: 50vh;
    width: 80vw;
}

#engine-items {
    width: 80%
}

#engine-items .search-name-input {
    width: 20%
}

#engine-items .search-url-input {
    width: 70%
}

#panel-buttons {
    float: left;
    width: 18%;
}

#panel-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    -moz-user-select: none;
    float: left;
}

#panel-actions>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: var(--font-size);
    /* padding: 10px; */
    margin-right: 1em;
    /* margin-bottom: 15px; */
}


/* #type-category {
    width: 7em;
}

#type-category>div {
    height: 3em;
    text-align: center;
    line-height: 3em;
} */

.category-item-selected {
    background-color: rgba(233, 233, 233, 0.9);
}

.category-item-disabled {
    color: #c9c9c9;
}


/* 
#direction-category {
    width: 4em;
}

#direction-category>div {
    text-align: center;
    line-height: 3em;
}

#direction-category>select {
    margin: 5px;
} */

#panel-actions-category table {
    border-collapse: collapse;
}

#panel-actions-category tr {
    height: 3em;
}

#panel-actions-category tr td:first-child {
    text-align: center;
    width: 7em;
}

#panel-actions-category tr td:nth-child(2) {
    padding-left: 1em;
}
/* 
#panel-actions-category tr:hover td:first-child {
    background-color: rgba(233, 233, 233, 0.9);
} */