body {
  scrollbar-width: thin;
}

header#b_header {
  display: none !important;
}
.contentPadding {
  margin-top: 0px !important;
}

#miniBar {
  display: none !important;
}

:root {
  scrollbar-width: thin;
}
