glitterdrag-status {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(9, 150, 248, 0.85);
	color: white !important;
	pointer-events: none;
	z-index: 2147483647;
	font-size: 14px;
}

glitterdrag-indicator {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 2147483647;
}

glitterdrag-menu {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2147483647;
}