/* Authorï¼šharytfw */

#GDPrompt {
    background-color: rgba(9, 150, 248, 0.85) !important;
    border-color: rgb(6, 112, 204) !important;
    border-radius: 0px !important;
    color: white !important;
    width: 130px !important;
}

#GDArrow {
    font: normal normal normal 20px FontAwesome !important;
    line-height: 2em !important;
    height: 40px !important;
    border-radius: 0px !important;
    width: 130px !important;
}

.GDArrow-UP-R::after,
.GDArrow-U::after,
.GDArrow-UP-L::after {
    content: "\f062" !important;
}

.GDArrow-L::after {
    content: "\f060" !important;
}

.GDArrow-R::after {
    content: "\f061" !important;
}

.GDArrow-LOW-L::after,
.GDArrow-D::after,
.GDArrow-LOW-R::after {
    content: "\f063" !important;
}

#GDIndicator {
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
}