<link rel="stylesheet" id="bulma" href="">
<link rel="stylesheet" id="css" href="">

<div id="grids">

    <div id="grids-3x3" class="is-hidden">
        <div class="columns">
            <div class="column">
                <div class="command" data-direction="3x3@(0,0)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="3x3@(0,1)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="3x3@(0,2)"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="command" data-direction="3x3@(1,0)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="3x3@(1,1)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="3x3@(1,2)"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="command" data-direction="3x3@(2,0)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="3x3@(2,1)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="3x3@(2,2)"></div>
            </div>
        </div>
    </div>
    <div id="grids-4x4" class="is-hidden">
        <div class="columns">
            <div class="column">
                <div class="command" data-direction="4x4@(0,0)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(0,1)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(0,2)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(0,3)"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="command" data-direction="4x4@(1,0)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(1,1)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(1,2)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(1,3)"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="command" data-direction="4x4@(2,0)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(2,1)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(2,2)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(2,3)"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="command" data-direction="4x4@(3,0)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(3,1)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(3,2)"></div>
            </div>
            <div class="column">
                <div class="command" data-direction="4x4@(3,3)"></div>
            </div>
        </div>
    </div>
</div>